body{
    background-color: rgba(0, 0, 0, .04);
    color: rgba(0, 0, 0, .8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    font-size: 2rem;
}

a{
    color: red;
}

a:hover{
    color: purple;
}